<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="BoardMapper">
  	<select id="view" resultType="com.hsh.board.BoardDTO"> <!-- id, DAO의 메서드명 과 일치 -->
  		select * from notice_board where num=#{num}
  	</select>
  </mapper>